{% extends 'base.html.twig' %}

{% block title %}Somme

{% endblock %}


{% block body %}

	<h1>Liste des noms</h1>
	<ul>
		{% for name in names %}
			<li>{{ name }}</li>
		{% endfor %}
	</ul>
    <p>
    <a href="{{ path('app_somme',{"nb1":10 , "nb2":30})}}">Aller a somme </a>
    <img src="{{ asset('images/photo.jpeg')}}"/></p>
{% endblock %}
